/* reset */
* {
    margin: 0;
    padding: 0;    
}
/* setting */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 10px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
section {
    max-width: 100%;
    background-color: #1f2937;
}
/* helper */
.l-p-med {
    padding-left: 1rem;
}
.r-p-med {
    padding-right: 1rem;
}
/* header section */
section header {
    margin: 0 auto;
    max-width: 75%;
    max-height: 80vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    font-size: 2.8rem;
    font-weight: 900;
}
ul {
    font-size: 1.8rem;
}
.main_nav {
    color: #e5e7eb;
    display: flex;
}
.main_nav li {
    padding-right: 1rem;
}