/* reset */
* {
    margin: 0;
    padding: 0;    
}
/* setting */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 10px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* setting a container */
section {
    max-width: 135rem;
    margin: 0 auto;
}